@if (dialogOpen)
{
    <dialog open style="width: 500px; top: 25%">
        <section class="container">
            <h3>New Product</h3>
            <EditForm Model="@ProductForm" OnValidSubmit="@SaveProductToList">
                <div class="form-group row w-50 mx-0">
                    <InputText id="name" placeholder="Name" @bind-Value="@ProductForm.Name"></InputText><br/>
                </div>
                <div class="form-group row w-50 mx-0">
                    <InputText id="imgUrl" placeholder="Image Url" @bind-Value="@ProductForm.ImgUrl"></InputText><br/>
                </div>
                <div class="form-group row w-100 mt-1 mx-0">
                    <InputSelect id="productCategory" @bind-Value="@ProductForm.ProductCategoryId">
                        <option value="">Select a category</option>
                        <option value="1">Art</option>
                        <option value="2">Clothes</option>
                        <option value="3">Merch</option>
                    </InputSelect>
                </div>
                <div class="form-group row w-100 mt-1 mx-0">
                    <InputTextArea id="description" placeholder="Description" @bind-Value="@ProductForm.Description"></InputTextArea>
                </div>
                <div style="display: flex; justify-content: space-between">
                    <button class="btn" type="button" @onclick="() => OnCreateProductDialogClose.InvokeAsync()">Close</button>
                    <button class="btn btn-success d-grid mt-2" type="submit">Submit</button>
                </div>
            </EditForm>
        </section>
    </dialog>
}
