@using PangWeb.Services
@using PangWeb.Shared.DTOs
@using Microsoft.AspNetCore.Components
@inject IJSRuntime jsr

<section class="container">
    <h3>Login</h3>
    <EditForm Model="@UserForm" OnValidSubmit="@LoginUser">
        <div class="form-group row w-50 mx-0">
            <InputText  placeholder="Email" @bind-Value="@UserForm.Email"></InputText><br/>
        </div>

        <div class="form-group row w-100 mt-1 mx-0">
            <InputText type="password" placeholder="Password" @bind-Value="@UserForm.Password"></InputText> <br />
        </div>

        <div style="display: flex; justify-content: space-between">
            <button class="btn btn-success d-grid mt-2" type="submit">Submit</button>
        </div>
    </EditForm>
    @if (_userService.UserLoggedIn.email != null)
    {
        <p>Logged in as @_userService.UserLoggedIn.email</p>
    }
</section>

@code {
    [Parameter]
    public EventCallback<bool> OnLoggedIn { get; set; }

    [Inject]
    private UserService _userService { get; set; }
    public UserLoginDto UserForm = new ();


    private async void LoginUser()
    {
        //_userService.UserLoggedIn
        var token = await _userService.LoginUser(UserForm);

        await jsr.InvokeAsync<string>("localStorage.setItem", "token", token).ConfigureAwait(false);
        var userdata = await jsr.InvokeAsync<string>("localStorage.getItem", "token").ConfigureAwait(false);
        Console.WriteLine(userdata);
        await OnLoggedIn.InvokeAsync();
    }
}
