@page "/Store/{category}";
@using PangWeb.Services

<div class="container">
    <h3>@category</h3>

    @foreach (var product in _productsToShow)
    {
        <div class="card d-inline-block m-2" style="width: 14rem;">
          <img src="@product.ImgUrl" class="card-img-top" alt="...">
          <div class="card-body text-dark">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.Description</p>
            @if (_userService.UserToken != null)
            {
                if (!_shoppingCartService._shoppingCart.Items.Any(x => x.Product.Id == product.Id))
                {
                        <button class="btn btn-success addToCartBtn" @onclick="() => _shoppingCartService.AddNewProductToCart(product)"><b>+</b></button>
                }
                else
                {
                        <button class="btn btn-danger productQuantityBtn" @onclick="() => _shoppingCartService.RemoveProductToCart(product)"><b>&lt;</b></button>
                        <span>@_shoppingCartService._shoppingCart.Items.FirstOrDefault(x => x.Product.Id == product.Id).Quantity</span>
                        <button class="btn btn-success productQuantityBtn" @onclick="() => _shoppingCartService.AddNewProductToCart(product)"><b>&gt;</b></button>
                }
            }
          </div>
        </div>
    }
</div>
