@page "/Store/{category}";
@using PangWeb.Services

<div class="container">
    <h3>@category</h3>

    @foreach (var product in products)
    {
        <div class="card d-inline-block m-2" style="width: 14rem;">
          <img src="@product.ImgUrl" class="card-img-top" alt="...">
          <div class="card-body text-dark">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.Description</p>
            @if (_userService.UserToken != null)
            {
                if (!_shoppingCartService._shoppingCart.Items.Any(x => x.Product.Id == product.Id))
                {
                        <button class="btn btn-success" @onclick="() => _shoppingCartService.AddNewProductToCart(product)"><b>+</b></button>
                }
                else
                {
                        <button class="btn btn-danger" @onclick="() => _shoppingCartService.RemoveProductToCart(product)"><b>&lt;</b></button>
                        <span>@_shoppingCartService._shoppingCart.Items.FirstOrDefault(x => x.Product.Id == product.Id).Quantity</span>
                        <button class="btn btn-success" @onclick="() => _shoppingCartService.AddNewProductToCart(product)"><b>&gt;</b></button>
                }
            }
          </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public string? category { 
        get 
        {
            return _category;
        }
        set
        {
            if (value != null) _category = value;
            GetListOfProductsForPage();
        }
    }
    private string? _category;

    [Inject]
    private ProductService _productService { get; set; }
    [Inject]
    private UserService _userService { get; set; }
    [Inject]
    private ShoppingCartService _shoppingCartService { get; set; }

    public List<Product> products { get; set; } = new List<Product>();

    private void GetListOfProductsForPage()
    {
        var categoryId = _productService.GetCategoryId(category);
        if (categoryId > 0) products = _productService.GetAllProductsByCategory(categoryId);
        else products = _productService.GetAllProducts();
    }
}
