@using PangWeb.Services
@if (dialogOpen)
{
    <dialog open tabindex="1" style="width: 500px; top: 25%; z-index: 1">
        <section class="container">
            <h3>Register</h3>
            <EditForm Model="@UserForm" OnValidSubmit="@RegisterNewUser">
                <div class="form-group row w-50 mx-0">
                    <InputText id="forename" placeholder="Forename" @bind-Value="@UserForm.Forename"></InputText><br/>
                </div>
                <div class="form-group row w-50 mx-0">
                    <InputText id="surname" placeholder="Surname" @bind-Value="@UserForm.Surname"></InputText><br/>
                </div>
                <div class="form-group row w-50 mx-0">
                    <InputText id="email" placeholder="Email" @bind-Value="@UserForm.Email"></InputText><br/>
                </div>

                <div class="form-group row w-100 mt-1 mx-0">
                    <InputText type="password" id="productCategory" placeholder="Select a category" @bind-Value="@UserForm.Password"></InputText> <br />
                </div>

                <div style="display: flex; justify-content: space-between">
                    <button class="btn" type="button" @onclick="() => OnDialogClose.InvokeAsync()">Close</button>
                    <button class="btn btn-success d-grid mt-2" type="submit">Submit</button>
                </div>
            </EditForm>
        </section>
    </dialog>
}

@code {
    [Parameter]
    public EventCallback<bool> OnDialogClose { get; set; }
    [Parameter]
    public bool dialogOpen { get; set; }
    [Inject]
    private UserService _userService { get; set; }

    private UserRegister UserForm = new UserRegister();

    protected override void OnInitialized() {}

    private void RegisterNewUser()
    {
        _userService.RegisterUser(UserForm);
    }
}
